@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --primary-color: #009999;
  --secondary-color: #fff;
  --positive: #6cb560;
  --negative: #e34040;
  --text-light: #f4f4f4;
  --text-dark: #444;
}

.navbar {
  border-bottom: 3px solid var(--primary-color);
  opacity: 0.9;
}

.leaflet-control-attribution {
  opacity: 0;
}

.legendItem {
  display: flex;
  flex-direction: column;
}

#items {
  margin-top: 70px;
}
table {
  position: relative;
}
th {
  position: sticky;
  top: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

.py-1 {
  padding: 1rem 0.5rem;
}
.py-2 {
  padding: 1.5rem 1rem;
}
.py-3 {
  padding: 2rem 1.5rem;
}

.clr-pos {
  color: var(--positive);
  font-size: 1rem;
}

.clr-neg {
  color: var(--negative);
  font-size: 1rem;
}

/* main */
.title {
  text-align: center;
}

button {
  font-family: "Montserrat", sans-serif;
}

#table {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.disclaimer a {
  font-weight: bold;
  text-decoration: none;
  color: darkcyan;
}

.disclaimer a:hover {
  color: #555;
}

.disclaimer {
  text-align: justify;
  font-size: 1rem;
}

#pck p {
  text-align: center;
}

#backer a {
  display: inline-block;
  background: var(--primary-color);
  color: black;
  border-radius: 100px;
  padding: 0.4rem;
  position: fixed;
  bottom: 10px;
  right: 30px;
}

#backer a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-color: #333;
}
/* chart */
iframe {
  margin: auto;
}
/* map  */
#map {
  width: 100%;
  height: 100%;
}
.layerPopupInfo p {
  margin: 0;
}

.info {
  padding: 6px 8px;
  font: 14px/16px "Montserrat", sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  font-size: 1.8rem;
  /* text-align: right; */
  margin: 0 0 5px;
  color: #777;
}

.info h5 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0.5rem 0 0.5rem 0;
}

.legend {
  font-size: 0.5rem;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 5px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

@media (max-width: 480px) {
  iframe {
    display: none;
  }

  #map {
    width: 100%;
    height: 75vh;
  }

  table {
    margin-top: 20px;
    padding-left: 50px;
  }

  #backer a {
    display: block;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: 1rem;
    position: fixed;
    bottom: 1px;
    right: 5px;
  }
}
