:root {
  --primary-color: #009999;
  --secondary-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

/* main */
.title {
  text-align: center;
  margin-bottom: 6rem;
}

button {
  font-family: "Montserrat", sans-serif;
}

.b_primary {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
  font-weight: lighter;
}

.disclaimer a {
  font-weight: bold;
  text-decoration: none;
  color: darkcyan;
}

.disclaimer a:hover {
  color: #555;
}

footer {
  text-align: center;
}

#backer a {
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  position: fixed;
  bottom: 10px;
  right: 50px;
}

#backer a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* map  */
#mapid {
  margin: auto;
  height: 50vh;
  width: 65vw;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  font-size: 1.8rem;
  /* text-align: right; */
  margin: 0 0 5px;
  color: #777;
}

.info h5 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0.5rem 0 0.5rem 0;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
